.div16 div{width:260px;height:200px;float:left;margin:10px;border:1px solid #eee}
.div16 {width:1690px;height:680px;}
.div16 li{list-style:none}
.donwload5941{width:210px;height:50px;background:#ccc;border-radius:25px;text-align:center;line-height:50px;color:#fff;font-size:18px;margin:10px 0px }
.donwload5941 img{width:35px ;height:35px}
.downlogo{width:210px}
.downlogo img{position:relative;left:25%}